/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}




.signup_v4 .social-area {
    text-align: center;
    padding-top: 14px
}

    .signup_v4 .social-area .title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        color: #007bff;
        position: relative
    }

    .signup_v4 .social-area .text {
        font-size: 17px;
        font-weight: 400;
        color: #143250
    }

    .signup_v4 .social-area .title::before {
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        background: rgba(0, 0, 0, .2);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 100%;
        margin-left: 7px
    }

    .signup_v4 .social-area .title::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        background: rgba(0, 0, 0, .2);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 100%;
        margin-right: 7px
    }

.signup_v4 ul.social-links {
    padding: 0;
    margin: 0
}

.signup_v4 .social-area .social-links li {
    display: inline-block
}

    .signup_v4 .social-area .social-links li a i {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        display: inline-block;
        color: #fff;
        margin: 0 5px;
        -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
        box-shadow: 0 5px 10px rgb(0 0 0 / 15%)
    }

        .signup_v4 .social-area .social-links li a i.fa-facebook-f {
            background: #0069f7
        }

        .signup_v4 .social-area .social-links li a i.fa-google-plus-g {
            background: #d1062c
        }

.signup_v4 .nav-tabs .nav-link.active {
    background: #007bff
}

.signup_v4 .nav-tabs .nav-link {
    background: #143250
}

.signup_v4 .nav-tabs .nav-link {
    border: 0;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 0;
    color: #fff
}

.signup_v4 .nav-tabs li.nav-item {
    width: 50%
}

.signup_v4 .card-body {
    padding: 0px
}

    .signup_v4 .card-body .tab-content {
        padding: 0 1.25rem 1.75em
    }
