@using bookShopSolution.ViewModels.Catalog.Orders
@{
    ViewData["Title"] = "Index";
}
@model OrderCreateRequest
@section scripts {
    <script src="/js/add-to-cart.js"></script>
    <script src="/js/cart.js"></script>
    <script>
    var cartController = new CartController();
    cartController.initialize();
</script>
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container" id="table_product_cart">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>Product</th>
                            <th>Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="card-body">
                        

                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            @if (TempData["checkoutResult"] != null)
                            {
                                <script type="text/javascript">
                                    window.onload = function () {
                                        Swal.fire({
                                          position: 'top-end',
                                          icon: 'success',
                                          title: 'Your work has been saved',
                                          showConfirmButton: false,
                                          timer: 1500
                                        })
                                    };
                                </script>
                            }
                            <div class="button5">
                                <form method="post" asp-action="Create" asp-controller="Order">
                                    <h4>Order Info</h4>
                                    <div class="editor-label">
                                        <label for="ShipName">Name</label>
                                    </div>
                                    <div class="editor-field">
                                        <input class="text-box single-line w-50" asp-for="ShipName" id="ShipName" name="ShipName" type="text" value="" />
                                        <span class="field-validation-valid" asp-validation-for="ShipName"></span>
                                    </div>
                                    <div class="editor-label">
                                        <label for="ShipEmail">Email</label>
                                    </div>
                                    <div class="editor-field">
                                        <input class="text-box single-line w-50" asp-for="ShipEmail" id="ShipEmail" name="ShipEmail" type="text" value="" />
                                        <span class="field-validation-valid" asp-validation-for="ShipEmail"></span>
                                    </div>
                                    <div class="editor-label">
                                        <label for="ShipAddress">Address</label>
                                    </div>
                                    <div class="editor-field">
                                        <input class="text-box single-line w-50" asp-for="ShipAddress" id="ShipAddress" name="ShipAddress" type="text" value="" />
                                        <span class="field-validation-valid" asp-validation-for="ShipAddress"></span>
                                    </div>
                                    <button class="btn mt-3" type="submit">Checkout</button>
                                </form>

                            </div>

                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart Subtotal<span id="lb_cart_total">$0</span></li>
                                    <li>Shipping<span>$10</span></li>
                                    <li class="last">You Pay<span id="lb_total_pay">$0</span></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->
