@using bookShopSolution.ViewModels.System.Users
@model LoginRequest
@{
    ViewData["Title"] = "Login";
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="card">
    <div style="width: 50%; margin: auto">
        <div class="text-center">
        <img src="/images/logo.jpg" class="rounded-circle border p-1" style="width: 130px;margin-bottom: 65px;margin-top: 20px;">
    </div>
        @{
            if(ViewBag.loginError != null)
            {
                <div class="alert alert-danger">@ViewBag.loginError</div>
            }
        }
    <form method="post" id="singninFrom" action="/@culture/Account/Login">
        <div class="form-group">
            <label font-size: 1.2em; class="font-weight-bold">Username <span class="text-danger">*</span></label>
            <input style="height: 45px;border-radius: 4px;" type="text" name="username" asp-for="UserName" class="form-control" placeholder="Enter username">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label font-size: 1.2em; class="font-weight-bold">Password <span class="text-danger">*</span></label>
            <input style="height: 45px;border-radius: 4px;" type="password" name="password" id="password" class="form-control" placeholder="***********">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                
                
            </div>
        </div>
        <div class="form-group">
            <button type="submit" name="submit" class="btn btn-block btn-primary" localize-content>Login</button>
        </div>
    </form>
    <div class="border-top card-body text-center"><localize>Don't have account</localize>? <a href="/@culture/Account/Register" style="color: #e08211;"><localize>Register</localize></a></div>
    </div>
    
</div> <!-- card.// -->